---
---

<div class="group">
  <img
    class="icon"
    style="left:48px"
    src="https://cdn.shopify.com/s/files/1/0576/1974/2872/articles/white-rabbit-running_1100x.jpg?v=1646132516"
  />
  <img
    class="icon"
    style="left:32px"
    src="https://cdn.shopify.com/s/files/1/0576/1974/2872/articles/white-rabbit-running_1100x.jpg?v=1646132516"
  />
  <img
    class="icon"
    style="left:16px"
    src="https://cdn.shopify.com/s/files/1/0576/1974/2872/articles/white-rabbit-running_1100x.jpg?v=1646132516"
  />
  <img
    class="icon"
    style="left:0px"
    src="https://cdn.shopify.com/s/files/1/0576/1974/2872/articles/white-rabbit-running_1100x.jpg?v=1646132516"
  />
</div>

<style>
  .group {
    position: relative;
    width: 68px;
    height: 20px;
    left: 0px;
    top: 0px;
  }
  .icon {
    box-sizing: border-box;
    position: absolute;
    width: 20px;
    height: 20px;
    top: 0px;

    border: 2px solid #ffffff;
    border-radius: 20px;
  }
</style>
