<div class="group">
  <img
    class="photo"
    src="https://media.bakingo.com/sq-pineapple-cake0022pifr-AA_0.jpg"
  />
  <img
    class="photo"
    src="https://media.bakingo.com/sq-pineapple-cake0022pifr-AA_0.jpg"
  />
  <img
    class="photo"
    src="https://media.bakingo.com/sq-pineapple-cake0022pifr-AA_0.jpg"
  />
  <img
    class="photo"
    src="https://media.bakingo.com/sq-pineapple-cake0022pifr-AA_0.jpg"
  />
  <img
    class="photo"
    src="https://media.bakingo.com/sq-pineapple-cake0022pifr-AA_0.jpg"
  />
</div>

<style>
  .group {
    display: flex;
    align-items: center;
    gap: 20px;
    width: calc(375px - 32px);
    overflow-x: scroll;
  }
  .group::-webkit-scrollbar {
    display: none;
  }
  .photo {
    width: 90px;
    height: 90px;
    border-radius: 8px;
  }
</style>
