---
export interface Props {
  link: string;
}

const { link } = Astro.props;
---

<h1 class="font">URL</h1>
<div class="link">
  <a class="font" href={link}>{link}</a>
</div>

<style>
  .font {
    font-family: "Hiragino Kaku Gothic ProN";
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 150%;
    display: flex;
    align-items: center;
    letter-spacing: -0.0024em;
  }
  a {
    margin: 0;
    color: #02af86;
  }
  h1 {
    font-weight: 600 !important;
    padding: 16px 16px 12px;
    margin: 0;
  }
  .link {
    box-sizing: border-box;
    padding: 10px 16px;
    height: 41px;
  }
</style>
