---
import GoogleMap from "./GoogleMap.astro";
export interface Props {
  map: string;
}

const { map } = Astro.props;
---

<h1 class="font">このメモのスポット</h1>
<div class="background">
  <p class="font" style="margin:0;font-weight: 600;font-size: 16px">
    銀座ウエスト 銀座本店
  </p>
  <p class="font" style="margin:0; color: #777775; font-size: 12px">
    {map}
  </p>
  <GoogleMap />
  <button class="button font" style="font-weight: 600;font-size: 12px">
    詳細を見る
  </button>
</div>
<svg width="500" height="30" viewBox="0 0 500 80" preserveAspectRatio="none">
  <path d="M0,0 L0,10 Q250,80 500,10 L500,0 Z" fill="#e6f6ed"></path>
</svg>

<style>
  .font {
    font-family: "Hiragino Kaku Gothic ProN";
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 150%;
    display: flex;
    align-items: center;
    letter-spacing: -0.0024em;
  }
  a {
    margin: 0;
    color: #02af86;
  }
  h1 {
    font-weight: 600 !important;
    padding: 16px 16px 12px;
    margin: 0;
  }
  svg {
    width: 100%;
  }
  .background {
    position: relative;
    box-sizing: border-box;
    width: 100vw;
    padding: 20px 16px 0px;
    background: #e6f6ed;
  }
  .place-title {
    padding: 20px 16px 0px;
  }

  .button {
    position: absolute;
    bottom: 20px;
    right: 30px;
    z-index: 10;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 4px 12px;
    gap: 10px;
    height: 26px;
    background: #ffffff;
    border: 1px solid #02af86;
    border-radius: 4px;
    color: #02af86;
  }
  .button:hover {
    opacity: 0.6;
  }
</style>
