html {
  height: 100%;
}
body {
  height: 100%;
}
#map {
  margin-top: 20px;
  height: 171px;
  width: 100%;
  border-radius: 12px;
}
/* HTML marker styles */
.customMarker {
  background-color: #4285f4;
  border-radius: 8px;
  color: #ffffff;
  font-size: 14px;
  padding: 10px 15px;
  position: relative;
}
.customMarker::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 100%;
  transform: translate(-50%, 0);
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 8px solid #4285f4;
}
[class$="api-load-alpha-banner"] {
  display: none;
}
